h {
    font-family: Arial, sans-serif;
    font-size: 30px;
}
p {
    font-family: "Arial Black", sans-serif;
    font-size: 20px;
}
table, th, td {
    border: 1px solid;
}
a:link {
    text-decoration: none;
}
ul {
    list-style-type: square;
}